body {
	background-color: #e5ebec;
}

h1 {
	text-align: center;
	font-family: arial, sens-serif;
}

/* demostrate how to center the first h2 whithout effecting other h2 element */
.gld {
	text-align: center;
	text-transform: uppercase;
}


.container {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	padding: 20px; /* latest modification */
}


.para {
	font-size: 17px;
	letter-spacing: 0.5px;
	line-height: 1.7;
}


.read-more a {
	text-decoration: none;
	font-size: 15px;
}

.read-more a:hover {
	text-decoration: underline;
	color: gray;
}

.flag1 {
	width: 300px;
	height: 200px;
	float: right;
	padding-left: 1.5rem;
	/*padding:1rem 1.5rem 1rem 1rem;*/
}

.flag2 {
	width: 300px;
	height: 200px;
	float: left;
	padding: 1rem 1.5rem 1rem 1rem;
	/*padding:1rem 1.5rem 1rem 1rem;*/
}


/*last*/
.ethnic {
	clear: left;
}


/*
color
background-color
text-align
text-decoration
text-transform
letter-spacing
font-size
font-family
line-height
padding
margin
*/